@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #010101; */
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.navbar {
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 108px;
  padding-right: 120px;
  padding-top: 28px;
  padding-bottom: 24px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.nst-logo{
    height: 60px;
}

.navbar .logo i {
  color: #0aa5ff;
  font-size: 22px;
}

.navbar .logo a {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-left: 12px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 2px;
}

.menu-links {
  display: flex;
  gap: 2px;
  padding-inline: 24px;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  letter-spacing: -0.15px;
  color: #160042;
  font-family: "Instrument Sans", sans-serif;
}

.menu-links a {
  font-weight: 500;
  color: #160042;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}
.menu-links a:hover {
  color: #175cd3;
  background-color: #f7f7ff;
  transform: translateY(-1px);
  border-radius: 5px;
  border-bottom: #175cd3 solid;
  transition: 0.3s;
}

.main{
    color: #2f3191;
    background: #ffe797;
    font-family: "Instrument Sans", sans-serif;
    font-family: 15px;
    line-height: 24px;
    text-align: left;
    letter-spacing: -0.15px;
    border-radius: 3px;
}

.log-in {
  font-weight: 500;
  font-size: 16px;
  line-height: 21.328px;
  text-align: center;
  color: white;
  font-family: "Instrument Sans", sans-serif;
  letter-spacing: normal;
  border-radius: 4px;
  background: linear-gradient(94deg, rgba(255,255,255,1) 0%, rgba(33,54,140,1) 0%, rgba(97,28,221,1) 100%);
  /* background-color: linear-gradient(90deg, rgba(65,44,179,1) 50%, rgba(120,55,228,1) 100%); */
  border: 2px solid rgb(65,44,179);
  height: 45px;
  width: 90px;
  cursor: pointer;
  transition-duration: 0.2s;

}
.log-in:hover {
  background:#ffe797;
  color: black;
  border: 2px solid #ffe797;
}

.firrst{
    margin-left: 120px;
    margin-top: 43x;
    padding-top: 120px;
}
.first{
    padding-top: 43px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 21.328px;
    text-align: start;
    color: #131d31;
}

.home{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 21.328px;
    text-align: start;
    color: #131d31;
}

.image1{
    height: 400px;
    width: 1200px;
    margin-bottom: 48px;
    margin-top: 21px;
    border-radius: 10px;
    box-shadow: rgb(254, 198, 13) 5px 5px 0px 0px;
}

.heading-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right:120px ;
}

.heading{
    font-family: "Instrument Sans", sans-serif;
    font-size: 39px;
    line-height: 46.8px;
    text-align: left;
    letter-spacing: -1.56px;
    color: #003e74;
    font-weight: 600;
    margin-top: -10px;
}

.horizontal-box {
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 80px;
  width: 92%;
  box-shadow: 0px 5px 0px 0px  #527A5A;
  border-radius: 10px;
  margin-bottom: 60px;
}

.column {
  flex: 1;
  padding-left: 20px;
  padding-top: 20px;
  text-align: start;
  font-family: "Instrument Sans", sans-serif;
  font-size: 15px;
  line-height: 19.995px;
  color: #003e74;
  font-weight: 200;
}

.separator {
  width: 1px;
  height: 80px;
  /* margin: 0 10px; */
  border: 1px dotted black;
}

.para{
  font-size: 18px;
  font-family: "Instrument Sans", sans-serif;
  line-height: 23.994px;
  text-align: start;
  font-weight: 500;
  margin-top: 5px;
  color: #0d1117;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 10px; /* Adjust the gap between items as needed */
    margin-right: 120px;
    margin-top: 39px;
    margin-bottom: 39px;
}

.grid-item {
    display: flex;
    text-align: start;
    padding: 10px;
}

.grid-item img{
    height: 36px;
    padding-right: 10px;
    padding-top: 10px;
}

.grid-item p{
    font-family: "Instrument Sans", sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-align: start;
    color: #003e74;
    letter-spacing: -0.32px;
}

.second{
    background-color: #f7f7ff;
    padding-left: 120px;
    padding-top: 72px;
    padding-bottom: 30px;
}

.heading2{
    font-family: Inter, sans-serif;
    font-size: 32px;
    line-height: 21.328px;
    text-align: left;
    color: #003e74;
}

.heading3{
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
  color: #003e74;
  font-weight: 100;
  letter-spacing: -0.36px;
  margin-top: -16px;
}

.third{
  padding-left: 120px;
  padding-top: 60px;
}

.Faculty-heading{
  font-family: Inter, sans-serif;
  font-size: 48px;
  line-height: 57.6px;
  text-align: left;
  letter-spacing: -0.96px;
  color: #003e74;
}

.third-p{
  font-family: "Instrument Sans", sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
  letter-spacing: -0.36px;
  color: #003e74;
  font-weight: 200;
}

.photos h3{
  font-family: "Instrument Sans", sans-serif;
  font-size: 42px;
  line-height: 50.4px;
  text-align: start;
  letter-spacing: -0.84px;
  color: #003e74;
  font-weight: 500;
}

.footer{
  background-color: #f7f7ff;
  padding-left: 80px;
  padding-top: 64px;
  padding-bottom: 44px;
  
}
.footer{
  background-color: #f7f7ff;
  display: flex;
  padding-left: 80px;
  padding-top: 64px;
  margin-top: 100px;
}

.footer-logo{
  height: 41px;
  width: 140px;

}

.footer-links{
  margin-left: 200px;
  padding-top: 15px;
  margin-right: 100px;
}

.footer-links a{
  margin-right: 20px;
  font-family: "Instrument Sans", sans-serif;
  font-size: 16px;
  line-height: 21.328px;
  text-align: center;
  color: #0d1117;
}


.box2{
  color: #090f1d;
  background-color: #e1fafc;
  font-family:"Switzer variable", sans-serif ;
  font-size: 16px;
  line-height: 21.328px;
  height: 40px;
  width: 380px;
  border-radius:5px ;
  text-align: center;
  padding-top: 10px;

}

.pvt p{
  font-family: "Instrument Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #667085;
}

.last{
  font-family: "Instrument Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: start;
  color: #667085;
  background-color:#f7f7ff ;
  padding-bottom: 10px;
  border-top: 1px solid #C0C0C0;
}


.end{
  background:#f7f7ff ;
  padding-left: 80px;
  padding-right: 80px;
}

.grids{
  display: flex;
  margin-top: -50px;
}

.gridss{
  display: flex;
}

.grid{
  border: 1px solid black;
  height: 366px;
  width: 288px;
  border-radius: 10px;
  margin-right: 17px;
}

.grid img{
  height: 286px;
  width: 286px;
  border-radius: 10px 10px 0px 0px;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.grid:hover.grid img{
  filter: grayscale(0%);
}

.bio{
  border-top: 4px dotted black;
  margin-top: -6px;
}

.bio h6{
  margin-top: 7px;
  font-family: "Instrument Sans", sans-serif;
  font-size: 15px;
  line-height: 19.995px;
  text-align: center;
  color: #0d1117;
  font-weight: 400;
}

.bio p{
  margin-top: -30px;
  font-family: "Instrument Sans", sans-serif;
  font-size: 14px;
  line-height: 18.662px;
  text-align: center;
  color: #0d1117;
  font-weight: 300;
}

.photos h2{
  font-family: "Instrument Sans", sans-serif;
  font-size: 42px;
  line-height: 50.4px;
  text-align: start;
  letter-spacing: -0.84px;
  color: #003e74;
}